In [2]:
import pandas as pd
import yfinance as yf
import sqlite3

In [3]:
conn = sqlite3.connect('finance.db')

In [51]:
stock_list = pd.read_sql_query("SELECT * FROM stock_list;", conn)

target_stocks = stock_list['yfinance_ticker'].to_list()

df = yf.download(target_stocks[:],start='2024-01-01',end = '2025-07-31',auto_adjust=True)

[*********************100%***********************]  2756 of 2756 completed

1 Failed download:
['099520.KQ']: YFTzMissingError('possibly delisted; no timezone found')

In [52]:
df

Price      Adj Close         Close                                        \
Ticker     099520.KQ     000020.KS 000040.KS    000050.KS      000070.KS
Date
2024-01-02       NaN  10193.579102     370.0  8550.764648   64740.582031
2024-01-03       NaN  10251.883789     367.0  8628.853516   63791.304688
2024-01-04       NaN  10203.296875     358.0  8716.704102   63126.812500
2024-01-05       NaN  10174.144531     357.0  8736.225586   63886.234375
2024-01-08       NaN  10300.471680     350.0  8736.225586   62936.957031
...              ...           ...       ...          ...            ...
2025-07-15       NaN   6990.000000     430.0  8320.000000  100600.000000
2025-07-16       NaN   6930.000000     429.0  8150.000000   98300.000000
2025-07-17       NaN   7060.000000     434.0  8230.000000   97100.000000
2025-07-18       NaN   7000.000000     463.0  8040.000000   94700.000000
2025-07-21       NaN   7000.000000     445.0  7870.000000   93100.000000

Price                                                                \
Ticker         000075.KS     000080.KS     000087.KS      000100.KS
Date
2024-01-02  49782.992188  21544.068359  14786.809570   67505.984375
2024-01-03  48848.976562  21737.289062  14777.269531   68501.648438
2024-01-04  49222.582031  21447.457031  14786.809570   66012.484375
2024-01-05  49222.582031  21447.457031  14987.147461   65614.218750
2024-01-08  49315.984375  21399.152344  14977.607422   64120.726562
...                  ...           ...           ...            ...
2025-07-15  96500.000000  21900.000000  16220.000000  112800.000000
2025-07-16  97300.000000  21450.000000  16180.000000  112700.000000
2025-07-17  95600.000000  21400.000000  16170.000000  135800.000000
2025-07-18  94000.000000  21450.000000  16190.000000  132000.000000
2025-07-21  92900.000000  21100.000000  16200.000000  125900.000000

Price                      ...    Volume                                \
Ticker          000105.KS  ... 900340.KQ 950110.KQ 950130.KQ 950140.KQ
Date                       ...
2024-01-02   62381.820312  ...    155816    3843.0    176292    104835
2024-01-03   62481.312500  ...    195567    5593.0    182261     84841
2024-01-04   61287.402344  ...    160101    5895.0    151211    324266
2024-01-05   60690.449219  ...    166313    3215.0    168545    360050
2024-01-08   60789.941406  ...     78023    3556.0     91232    132910
...                   ...  ...       ...       ...       ...       ...
2025-07-15   98700.000000  ...    302633  164470.0     68764    526767
2025-07-16   98400.000000  ...    442235  100984.0    104256    385149
2025-07-17  113300.000000  ...    400795  117775.0    179303    169031
2025-07-18  110000.000000  ...    278941   82330.0     81814    150987
2025-07-21  106700.000000  ...    304336   48645.0    110521    129209

Price
Ticker     950160.KQ 950170.KQ 950190.KQ 950200.KQ 950210.KS 950220.KQ
Date
2024-01-02    114842   26285.0   51260.0     16905     60857    899001
2024-01-03    458286   23355.0   24548.0     68626     64322    556146
2024-01-04    240200   20630.0   17404.0     41592     36823    519617
2024-01-05    113314   23050.0   20745.0     15401     36109    688737
2024-01-08     83587   18164.0   19906.0     19993     25942    356891
...              ...       ...       ...       ...       ...       ...
2025-07-15    373888  256919.0  145084.0     14315    603081   3584890
2025-07-16    219101  210392.0   64823.0     34736    234793    866912
2025-07-17    342592  102800.0   67281.0     36273    195341   6878278
2025-07-18    398098  626637.0   29249.0     12304    251511   1375436
2025-07-21    129357  483876.0   21976.0     12712    282924  11443361

[377 rows x 13781 columns]

In [68]:
a =df.T

In [69]:
a

Date                    2024-01-02     2024-01-03     2024-01-04  \
Price     Ticker
Adj Close 099520.KQ            NaN            NaN            NaN
Close     000020.KS   10193.579102   10251.883789   10203.296875
          000040.KS     370.000000     367.000000     358.000000
          000050.KS    8550.764648    8628.853516    8716.704102
          000070.KS   64740.582031   63791.304688   63126.812500
...                            ...            ...            ...
Volume    950170.KQ   26285.000000   23355.000000   20630.000000
          950190.KQ   51260.000000   24548.000000   17404.000000
          950200.KQ   16905.000000   68626.000000   41592.000000
          950210.KS   60857.000000   64322.000000   36823.000000
          950220.KQ  899001.000000  556146.000000  519617.000000

Date                    2024-01-05     2024-01-08     2024-01-09  \
Price     Ticker
Adj Close 099520.KQ            NaN            NaN            NaN
Close     000020.KS   10174.144531   10300.471680   10310.188477
          000040.KS     357.000000     350.000000     354.000000
          000050.KS    8736.225586    8736.225586    8853.359375
          000070.KS   63886.234375   62936.957031   62842.031250
...                            ...            ...            ...
Volume    950170.KQ   23050.000000   18164.000000   16985.000000
          950190.KQ   20745.000000   19906.000000   58841.000000
          950200.KQ   15401.000000   19993.000000  700384.000000
          950210.KS   36109.000000   25942.000000   25583.000000
          950220.KQ  688737.000000  356891.000000  168395.000000

Date                    2024-01-10     2024-01-11     2024-01-12  \
Price     Ticker
Adj Close 099520.KQ            NaN            NaN            NaN
Close     000020.KS   10319.906250   10203.296875   10144.992188
          000040.KS     351.000000     355.000000     356.000000
          000050.KS    8609.331055    8863.121094    8687.419922
          000070.KS   62842.031250   63886.234375   64076.085938
...                            ...            ...            ...
Volume    950170.KQ   18914.000000   20175.000000   45221.000000
          950190.KQ   54335.000000   25460.000000  160631.000000
          950200.KQ  106566.000000   72209.000000   31284.000000
          950210.KS   43320.000000   41975.000000   38309.000000
          950220.KQ  182441.000000  858933.000000  607860.000000

Date                    2024-01-15  ...  2025-07-08  2025-07-09  2025-07-10  \
Price     Ticker                    ...
Adj Close 099520.KQ            NaN  ...         NaN         NaN         NaN
Close     000020.KS    9989.513672  ...      6820.0      6830.0      6890.0
          000040.KS     350.000000  ...       425.0       428.0       432.0
          000050.KS    8726.464844  ...      7680.0      8020.0      8190.0
          000070.KS   62936.957031  ...     90600.0     95800.0     99000.0
...                            ...  ...         ...         ...         ...
Volume    950170.KQ   55272.000000  ...    375773.0    335501.0    259712.0
          950190.KQ  147579.000000  ...     77192.0     92357.0     57589.0
          950200.KQ   19447.000000  ...     21732.0     14294.0     58618.0
          950210.KS   11386.000000  ...    573914.0    564247.0    442200.0
          950220.KQ  255939.000000  ...    447416.0    452748.0    610157.0

Date                 2025-07-11  2025-07-14  2025-07-15  2025-07-16  \
Price     Ticker
Adj Close 099520.KQ         NaN         NaN         NaN         NaN
Close     000020.KS      6910.0      7010.0      6990.0      6930.0
          000040.KS       428.0       428.0       430.0       429.0
          000050.KS      8150.0      8250.0      8320.0      8150.0
          000070.KS    100000.0    100500.0    100600.0     98300.0
...                         ...         ...         ...         ...
Volume    950170.KQ    195243.0    207245.0    256919.0    210392.0
          950190.KQ    106056.0     80828.0    145084.0     64823.0
          950200.KQ     34021.0     21897.0     14315.0     34736.0
          950210.KS    477717.0    483376.0    603081.0    234793.0
          950220.KQ    357997.0    404667.0   3584890.0    866912.0

Date                 2025-07-17  2025-07-18  2025-07-21
Price     Ticker
Adj Close 099520.KQ         NaN         NaN         NaN
Close     000020.KS      7060.0      7000.0      7000.0
          000040.KS       434.0       463.0       445.0
          000050.KS      8230.0      8040.0      7870.0
          000070.KS     97100.0     94700.0     93100.0
...                         ...         ...         ...
Volume    950170.KQ    102800.0    626637.0    483876.0
          950190.KQ     67281.0     29249.0     21976.0
          950200.KQ     36273.0     12304.0     12712.0
          950210.KS    195341.0    251511.0    282924.0
          950220.KQ   6878278.0   1375436.0  11443361.0

[13781 rows x 377 columns]

In [70]:
a = a.iloc[1:,:]

In [71]:
a

Date                 2024-01-02     2024-01-03     2024-01-04     2024-01-05  \
Price  Ticker
Close  000020.KS   10193.579102   10251.883789   10203.296875   10174.144531
       000040.KS     370.000000     367.000000     358.000000     357.000000
       000050.KS    8550.764648    8628.853516    8716.704102    8736.225586
       000070.KS   64740.582031   63791.304688   63126.812500   63886.234375
       000075.KS   49782.992188   48848.976562   49222.582031   49222.582031
...                         ...            ...            ...            ...
Volume 950170.KQ   26285.000000   23355.000000   20630.000000   23050.000000
       950190.KQ   51260.000000   24548.000000   17404.000000   20745.000000
       950200.KQ   16905.000000   68626.000000   41592.000000   15401.000000
       950210.KS   60857.000000   64322.000000   36823.000000   36109.000000
       950220.KQ  899001.000000  556146.000000  519617.000000  688737.000000

Date                 2024-01-08     2024-01-09     2024-01-10     2024-01-11  \
Price  Ticker
Close  000020.KS   10300.471680   10310.188477   10319.906250   10203.296875
       000040.KS     350.000000     354.000000     351.000000     355.000000
       000050.KS    8736.225586    8853.359375    8609.331055    8863.121094
       000070.KS   62936.957031   62842.031250   62842.031250   63886.234375
       000075.KS   49315.984375   48381.968750   49409.386719   49222.582031
...                         ...            ...            ...            ...
Volume 950170.KQ   18164.000000   16985.000000   18914.000000   20175.000000
       950190.KQ   19906.000000   58841.000000   54335.000000   25460.000000
       950200.KQ   19993.000000  700384.000000  106566.000000   72209.000000
       950210.KS   25942.000000   25583.000000   43320.000000   41975.000000
       950220.KQ  356891.000000  168395.000000  182441.000000  858933.000000

Date                 2024-01-12     2024-01-15  ...  2025-07-08  2025-07-09  \
Price  Ticker                                   ...
Close  000020.KS   10144.992188    9989.513672  ...      6820.0      6830.0
       000040.KS     356.000000     350.000000  ...       425.0       428.0
       000050.KS    8687.419922    8726.464844  ...      7680.0      8020.0
       000070.KS   64076.085938   62936.957031  ...     90600.0     95800.0
       000075.KS   48568.773438   49035.781250  ...     89300.0     93000.0
...                         ...            ...  ...         ...         ...
Volume 950170.KQ   45221.000000   55272.000000  ...    375773.0    335501.0
       950190.KQ  160631.000000  147579.000000  ...     77192.0     92357.0
       950200.KQ   31284.000000   19447.000000  ...     21732.0     14294.0
       950210.KS   38309.000000   11386.000000  ...    573914.0    564247.0
       950220.KQ  607860.000000  255939.000000  ...    447416.0    452748.0

Date              2025-07-10  2025-07-11  2025-07-14  2025-07-15  2025-07-16  \
Price  Ticker
Close  000020.KS      6890.0      6910.0      7010.0      6990.0      6930.0
       000040.KS       432.0       428.0       428.0       430.0       429.0
       000050.KS      8190.0      8150.0      8250.0      8320.0      8150.0
       000070.KS     99000.0    100000.0    100500.0    100600.0     98300.0
       000075.KS     96100.0     98000.0     98400.0     96500.0     97300.0
...                      ...         ...         ...         ...         ...
Volume 950170.KQ    259712.0    195243.0    207245.0    256919.0    210392.0
       950190.KQ     57589.0    106056.0     80828.0    145084.0     64823.0
       950200.KQ     58618.0     34021.0     21897.0     14315.0     34736.0
       950210.KS    442200.0    477717.0    483376.0    603081.0    234793.0
       950220.KQ    610157.0    357997.0    404667.0   3584890.0    866912.0

Date              2025-07-17  2025-07-18  2025-07-21
Price  Ticker
Close  000020.KS      7060.0      7000.0      7000.0
       000040.KS       434.0       463.0       445.0
       000050.KS      8230.0      8040.0      7870.0
       000070.KS     97100.0     94700.0     93100.0
       000075.KS     95600.0     94000.0     92900.0
...                      ...         ...         ...
Volume 950170.KQ    102800.0    626637.0    483876.0
       950190.KQ     67281.0     29249.0     21976.0
       950200.KQ     36273.0     12304.0     12712.0
       950210.KS    195341.0    251511.0    282924.0
       950220.KQ   6878278.0   1375436.0  11443361.0

[13780 rows x 377 columns]

In [72]:
# 특정 종목에 대해 모든 정보들 가져오기
a.loc[pd.IndexSlice[:, '001040.KS'],:]

,Date,2024-01-02,2024-01-03,2024-01-04,2024-01-05,2024-01-08,2024-01-09,2024-01-10,2024-01-11,2024-01-12,2024-01-15,...,2025-07-08,2025-07-09,2025-07-10,2025-07-11,2025-07-14,2025-07-15,2025-07-16,2025-07-17,2025-07-18,2025-07-21
Price,Ticker,,,,,,,,,,,,,,,,,,,,,
Close,001040.KS,89054.171875,89816.953125,88005.351562,91342.500000,90961.109375,92582.007812,94393.601562,93058.750000,88482.085938,89626.250000,...,156700.0,161300.0,163900.0,159000.0,174900.0,175900.0,171600.0,167600.0,164100.0,161300.0
High,001040.KS,90484.378061,92486.671477,91056.458009,91819.235386,92009.927198,92868.049031,96872.625442,95537.774078,94012.216309,90007.638298,...,159400.0,163500.0,163900.0,163300.0,177000.0,176800.0,176700.0,173000.0,168600.0,163900.0
Low,001040.KS,88863.477717,88482.093949,88005.351562,87719.311065,89912.291552,89912.289771,91819.230611,93058.750000,86861.185656,88386.738032,...,150800.0,157000.0,158800.0,158500.0,160300.0,171500.0,169000.0,165900.0,161000.0,160600.0
Open,001040.KS,89244.866033,88482.093949,89816.946015,88196.046451,92009.927198,90961.107573,92582.007189,95347.079918,94012.216309,88482.085106,...,151800.0,157300.0,161300.0,162900.0,160400.0,171500.0,173900.0,173000.0,167600.0,162400.0
Volume,001040.KS,42434.000000,91580.000000,42105.000000,84646.000000,49943.000000,76558.000000,101442.000000,92279.000000,128790.000000,4504.000000,...,208293.0,179754.0,158809.0,145107.0,512566.0,205642.0,161559.0,148453.0,125721.0,110791.0

In [73]:
# 특정 종가 정보를 모든 주식에 대해 가져오기
a.loc[pd.IndexSlice['Close', :],:]

Date               2024-01-02    2024-01-03    2024-01-04    2024-01-05  \
Price Ticker
Close 000020.KS  10193.579102  10251.883789  10203.296875  10174.144531
      000040.KS    370.000000    367.000000    358.000000    357.000000
      000050.KS   8550.764648   8628.853516   8716.704102   8736.225586
      000070.KS  64740.582031  63791.304688  63126.812500  63886.234375
      000075.KS  49782.992188  48848.976562  49222.582031  49222.582031
...                       ...           ...           ...           ...
      950170.KQ   3830.000000   3875.000000   3860.000000   3840.000000
      950190.KQ  10354.447266  10409.966797  10372.954102  10224.901367
      950200.KQ   5190.000000   5400.000000   5170.000000   5280.000000
      950210.KS   9820.000000   9910.000000   9650.000000   9540.000000
      950220.KQ   2110.000000   2025.000000   2005.000000   1900.000000

Date               2024-01-08    2024-01-09    2024-01-10    2024-01-11  \
Price Ticker
Close 000020.KS  10300.471680  10310.188477  10319.906250  10203.296875
      000040.KS    350.000000    354.000000    351.000000    355.000000
      000050.KS   8736.225586   8853.359375   8609.331055   8863.121094
      000070.KS  62936.957031  62842.031250  62842.031250  63886.234375
      000075.KS  49315.984375  48381.968750  49409.386719  49222.582031
...                       ...           ...           ...           ...
      950170.KQ   3840.000000   3870.000000   3845.000000   3855.000000
      950190.KQ  10372.954102  10715.326172  10891.138672  10863.378906
      950200.KQ   5200.000000   5700.000000   5440.000000   5500.000000
      950210.KS   9650.000000   9590.000000   9510.000000   9520.000000
      950220.KQ   1911.000000   1932.000000   1941.000000   2065.000000

Date               2024-01-12    2024-01-15  ...  2025-07-08  2025-07-09  \
Price Ticker                                 ...
Close 000020.KS  10144.992188   9989.513672  ...      6820.0      6830.0
      000040.KS    356.000000    350.000000  ...       425.0       428.0
      000050.KS   8687.419922   8726.464844  ...      7680.0      8020.0
      000070.KS  64076.085938  62936.957031  ...     90600.0     95800.0
      000075.KS  48568.773438  49035.781250  ...     89300.0     93000.0
...                       ...           ...  ...         ...         ...
      950170.KQ   3840.000000   3840.000000  ...      6900.0      7140.0
      950190.KQ  11363.057617  11455.590820  ...     10070.0     10300.0
      950200.KQ   5520.000000   5370.000000  ...      3905.0      3925.0
      950210.KS   9380.000000   9100.000000  ...     18220.0     18980.0
      950220.KQ   1960.000000   1910.000000  ...      1047.0      1050.0

Date             2025-07-10  2025-07-11  2025-07-14  2025-07-15  2025-07-16  \
Price Ticker
Close 000020.KS      6890.0      6910.0      7010.0      6990.0      6930.0
      000040.KS       432.0       428.0       428.0       430.0       429.0
      000050.KS      8190.0      8150.0      8250.0      8320.0      8150.0
      000070.KS     99000.0    100000.0    100500.0    100600.0     98300.0
      000075.KS     96100.0     98000.0     98400.0     96500.0     97300.0
...                     ...         ...         ...         ...         ...
      950170.KQ      7180.0      7010.0      7000.0      7050.0      6870.0
      950190.KQ     10440.0     10520.0     10370.0     10570.0     10560.0
      950200.KQ      4070.0      4065.0      4040.0      4020.0      4005.0
      950210.KS     19910.0     18430.0     17600.0     16540.0     16700.0
      950220.KQ      1079.0      1086.0      1085.0      1139.0      1104.0

Date             2025-07-17  2025-07-18  2025-07-21
Price Ticker
Close 000020.KS      7060.0      7000.0      7000.0
      000040.KS       434.0       463.0       445.0
      000050.KS      8230.0      8040.0      7870.0
      000070.KS     97100.0     94700.0     93100.0
      000075.KS     95600.0     94000.0     92900.0
...                     ...         ...         ...
      950170.KQ      7000.0      7180.0      7480.0
      950190.KQ     10300.0     10280.0     10280.0
      950200.KQ      4055.0      4005.0      3980.0
      950210.KS     16830.0     16100.0     15530.0
      950220.KQ      1166.0      1142.0      1308.0

[2756 rows x 377 columns]

In [74]:
# 특정 시간대 모든 정보 가져오기
a.loc[:,:pd.to_datetime('2024-01-05')]

Date                 2024-01-02     2024-01-03     2024-01-04     2024-01-05
Price  Ticker
Close  000020.KS   10193.579102   10251.883789   10203.296875   10174.144531
       000040.KS     370.000000     367.000000     358.000000     357.000000
       000050.KS    8550.764648    8628.853516    8716.704102    8736.225586
       000070.KS   64740.582031   63791.304688   63126.812500   63886.234375
       000075.KS   49782.992188   48848.976562   49222.582031   49222.582031
...                         ...            ...            ...            ...
Volume 950170.KQ   26285.000000   23355.000000   20630.000000   23050.000000
       950190.KQ   51260.000000   24548.000000   17404.000000   20745.000000
       950200.KQ   16905.000000   68626.000000   41592.000000   15401.000000
       950210.KS   60857.000000   64322.000000   36823.000000   36109.000000
       950220.KQ  899001.000000  556146.000000  519617.000000  688737.000000

[13780 rows x 4 columns]

In [92]:
a.columns

DatetimeIndex(['2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05',
               '2024-01-08', '2024-01-09', '2024-01-10', '2024-01-11',
               '2024-01-12', '2024-01-15',
               ...
               '2025-07-08', '2025-07-09', '2025-07-10', '2025-07-11',
               '2025-07-14', '2025-07-15', '2025-07-16', '2025-07-17',
               '2025-07-18', '2025-07-21'],
              dtype='datetime64[ns]', name='Date', length=377, freq=None)

In [85]:
a_reset = a.reset_index()

In [95]:
new_columns = list(a_reset.columns[:2]) + [
    col.date() if isinstance(col, pd.Timestamp) else col
    for col in a_reset.columns[2:]
]

a_reset.columns = new_columns

In [96]:
a_reset.columns

Index([   'Price',   'Ticker', 2024-01-02, 2024-01-03, 2024-01-04, 2024-01-05,
       2024-01-08, 2024-01-09, 2024-01-10, 2024-01-11,
       ...
       2025-07-08, 2025-07-09, 2025-07-10, 2025-07-11, 2025-07-14, 2025-07-15,
       2025-07-16, 2025-07-17, 2025-07-18, 2025-07-21],
      dtype='object', length=379)

In [97]:
a_reset.to_sql('stock_data', conn, if_exists='replace', index=False)

conn.close()

-------------------------------------------------------- 조회

In [2]:
conn = sqlite3.connect('finance.db')

In [5]:
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("📋 테이블 목록:")
print(tables)

📋 테이블 목록:
         name
0  stock_list
1  stock_data

In [6]:
stock_list = pd.read_sql_query("SELECT * FROM stock_list;", conn)
print(stock_list)

        종목코드      종목명      시장 yfinance_ticker
0     095570   AJ네트웍스   KOSPI       095570.KS
1     006840    AK홀딩스   KOSPI       006840.KS
2     027410      BGF   KOSPI       027410.KS
3     282330   BGF리테일   KOSPI       282330.KS
4     138930  BNK금융지주   KOSPI       138930.KS
...      ...      ...     ...             ...
2751  024060     흥구석유  KOSDAQ       024060.KQ
2752  010240       흥국  KOSDAQ       010240.KQ
2753  189980   흥국에프엔비  KOSDAQ       189980.KQ
2754  037440       희림  KOSDAQ       037440.KQ
2755  238490       힘스  KOSDAQ       238490.KQ

[2756 rows x 4 columns]

In [7]:
stock_data = pd.read_sql_query("SELECT * FROM stock_data;", conn)
stock_data

,Price,Ticker,2024-01-02,2024-01-03,2024-01-04,2024-01-05,2024-01-08,2024-01-09,2024-01-10,2024-01-11,...,2025-07-08,2025-07-09,2025-07-10,2025-07-11,2025-07-14,2025-07-15,2025-07-16,2025-07-17,2025-07-18,2025-07-21
0,Close,000020.KS,10193.579102,10251.883789,10203.296875,10174.144531,10300.471680,10310.188477,10319.906250,10203.296875,...,6820.0,6830.0,6890.0,6910.0,7010.0,6990.0,6930.0,7060.0,7000.0,7000.0
1,Close,000040.KS,370.000000,367.000000,358.000000,357.000000,350.000000,354.000000,351.000000,355.000000,...,425.0,428.0,432.0,428.0,428.0,430.0,429.0,434.0,463.0,445.0
2,Close,000050.KS,8550.764648,8628.853516,8716.704102,8736.225586,8736.225586,8853.359375,8609.331055,8863.121094,...,7680.0,8020.0,8190.0,8150.0,8250.0,8320.0,8150.0,8230.0,8040.0,7870.0
3,Close,000070.KS,64740.582031,63791.304688,63126.812500,63886.234375,62936.957031,62842.031250,62842.031250,63886.234375,...,90600.0,95800.0,99000.0,100000.0,100500.0,100600.0,98300.0,97100.0,94700.0,93100.0
4,Close,000075.KS,49782.992188,48848.976562,49222.582031,49222.582031,49315.984375,48381.968750,49409.386719,49222.582031,...,89300.0,93000.0,96100.0,98000.0,98400.0,96500.0,97300.0,95600.0,94000.0,92900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13775,Volume,950170.KQ,26285.000000,23355.000000,20630.000000,23050.000000,18164.000000,16985.000000,18914.000000,20175.000000,...,375773.0,335501.0,259712.0,195243.0,207245.0,256919.0,210392.0,102800.0,626637.0,483876.0
13776,Volume,950190.KQ,51260.000000,24548.000000,17404.000000,20745.000000,19906.000000,58841.000000,54335.000000,25460.000000,...,77192.0,92357.0,57589.0,106056.0,80828.0,145084.0,64823.0,67281.0,29249.0,21976.0
13777,Volume,950200.KQ,16905.000000,68626.000000,41592.000000,15401.000000,19993.000000,700384.000000,106566.000000,72209.000000,...,21732.0,14294.0,58618.0,34021.0,21897.0,14315.0,34736.0,36273.0,12304.0,12712.0
13778,Volume,950210.KS,60857.000000,64322.000000,36823.000000,36109.000000,25942.000000,25583.000000,43320.000000,41975.000000,...,573914.0,564247.0,442200.0,477717.0,483376.0,603081.0,234793.0,195341.0,251511.0,282924.0
13779,Volume,950220.KQ,899001.000000,556146.000000,519617.000000,688737.000000,356891.000000,168395.000000,182441.000000,858933.000000,...,447416.0,452748.0,610157.0,357997.0,404667.0,3584890.0,866912.0,6878278.0,1375436.0,11443361.0

In [8]:
stock_data['Price'].value_counts()

Price
Close     2756
High      2756
Low       2756
Open      2756
Volume    2756
Name: count, dtype: int64

In [9]:
#2024-12-19에 등락률이 -10% 이하인 종목을 모두 보여줘

# 1. Price == 'Close'인 행 선택
close_data = stock_data[stock_data['Price'] == 'Close']

# 2. 전일 대비 당일 종가 변화율이 -10% 이하인 종목 추출
decrease_10pct = close_data[(close_data['2024-12-19'] / close_data['2024-12-18']) <= 0.9]

# 3. 해당 티커의 종목명을 stock_list에서 추출 후 출력
print(stock_list[stock_list['yfinance_ticker'].isin(decrease_10pct['Ticker'])]['종목명'])

620         오리엔트바이오
635             윌비스
665            이스타코
682            일성건설
1178          넥스트아이
1280           동신건설
1399          메디포스트
1484    브릿지바이오테라퓨틱스
1533           삼보산업
1627            셀비온
1717          쓰리빌리언
2017         오리엔트정공
2423         코아스템켐온
2432            코이즈
Name: 종목명, dtype: object

In [10]:

# 1. stock_data에서 Price == 'Volume'인 데이터만 추출
volume_data = stock_data[stock_data['Price'] == 'Volume']

# 2. 2025-05-13과 2025-05-14 날짜의 거래량을 비교
increase_300pct = volume_data[(volume_data['2025-05-14'] / volume_data['2025-05-13']) >= 4]

# 3. 해당 티커의 종목명을 stock_list에서 추출 후 출력
print(stock_list[stock_list['yfinance_ticker'].isin(increase_300pct['Ticker'])]['종목명'])

57      HD현대에너지솔루션
61           HJ중공업
77         JW중외제약우
84            KCTC
169        SK오션플랜트
           ...
2552            팸텍
2564      포인트엔지니어링
2629       하나27호스팩
2707    한화플러스제5호스팩
2747          휴엠앤씨
Name: 종목명, Length: 129, dtype: object

In [12]:
high_low_stocks = stock_data[(stock_data['Price'] == 'Close') & 
                             (stock_data['2025-02-18'] >= 200000) & 
                             (stock_data['2025-02-18'] <= 500000)]

names = stock_list[stock_list['yfinance_ticker'].isin(high_low_stocks['Ticker'])]['종목명']
print(", ".join(names.tolist()))

CJ제일제당, HD한국조선해양, HD현대일렉트릭, HD현대중공업, HS효성첨단소재, KCC, LG생활건강, LG에너지솔루션, LG화학, LIG넥스원, LS ELECTRIC, NAVER, POSCO홀딩스, SK가스, SK하이닉스, 농심, 두산, 삼성SDI, 삼성화재, 삼성화재우, 세아제강지주, 아세아, 오뚜기, 크래프톤, 하이브, 한국쉘석유, 한미약품, 현대모비스, 효성티앤씨, 레인보우로보틱스, 알테오젠, 파마리서치, 파크시스템스, 휴젤

In [11]:
price = stock_data[(stock_data['Ticker'] == '044960.KQ') & (stock_data['Price'] == 'Close')]['2024-10-28'].values[0]
print(price)

4948.28662109375

In [20]:
stock_list[stock_list['종목명']=='대성미생물']

        종목코드    종목명      시장 yfinance_ticker
1224  036480  대성미생물  KOSDAQ       036480.KQ

In [18]:
price = stock_data[(stock_data['Ticker'] == '044380.KQ')]
print(price)

Empty DataFrame
Columns: [Price, Ticker, 2024-01-02, 2024-01-03, 2024-01-04, 2024-01-05, 2024-01-08, 2024-01-09, 2024-01-10, 2024-01-11, 2024-01-12, 2024-01-15, 2024-01-16, 2024-01-17, 2024-01-18, 2024-01-19, 2024-01-22, 2024-01-23, 2024-01-24, 2024-01-25, 2024-01-26, 2024-01-29, 2024-01-30, 2024-01-31, 2024-02-01, 2024-02-02, 2024-02-05, 2024-02-06, 2024-02-07, 2024-02-08, 2024-02-13, 2024-02-14, 2024-02-15, 2024-02-16, 2024-02-19, 2024-02-20, 2024-02-21, 2024-02-22, 2024-02-23, 2024-02-26, 2024-02-27, 2024-02-28, 2024-02-29, 2024-03-04, 2024-03-05, 2024-03-06, 2024-03-07, 2024-03-08, 2024-03-11, 2024-03-12, 2024-03-13, 2024-03-14, 2024-03-15, 2024-03-18, 2024-03-19, 2024-03-20, 2024-03-21, 2024-03-22, 2024-03-25, 2024-03-26, 2024-03-27, 2024-03-28, 2024-03-29, 2024-04-01, 2024-04-02, 2024-04-03, 2024-04-04, 2024-04-05, 2024-04-08, 2024-04-09, 2024-04-11, 2024-04-12, 2024-04-15, 2024-04-16, 2024-04-17, 2024-04-18, 2024-04-19, 2024-04-22, 2024-04-23, 2024-04-24, 2024-04-25, 2024-04-26, 2024-04-29, 2024-04-30, 2024-05-02, 2024-05-03, 2024-05-07, 2024-05-08, 2024-05-09, 2024-05-10, 2024-05-13, 2024-05-14, 2024-05-16, 2024-05-17, 2024-05-20, 2024-05-21, 2024-05-22, 2024-05-23, 2024-05-24, 2024-05-27, ...]
Index: []

[0 rows x 379 columns]

In [ ]:
conn.close()